<!DOCTYPE html>
<html>
  <head>
    <title>Quickeee!</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <%= render 'layouts/nav' %>
    <div class="container">
      <%= render 'layouts/flash' %>
      <%= yield %>
    </div>

    <footer class="text-muted">
      <div class="container">
        <p class="float-xs-right">
          <a href="#">Back to top</a>
        </p>
<pre>Quickeee! © is a troll web chat app
created by @katpadi to try out Rails 5's Action Cable feature.
Please do not take me, or this, seriously.
</pre>
      </div>

    </footer>
  </body>
</html>
